<div class="container">
  <div class="user-details" style="margin-top: 50px; margin-bottom: 50px;">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p>HTML, CSS, JavaScript, Bootstrap, JQuery</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-codeigniter-plain-wordmark colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>PHP, Code Igniter, Laravel, Swift, MySQL</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-bitbucket-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-chrome-plain colored"></i>
      <p>Git, Bitbucket, Github, Macintosh, Google Chrome</p>
    </div>
  </div>
</div>
