<footer class="footer">
    <p>&copy; {{ 'now' | date: "%Y" }} {{site.username}} with <span class="love">❤</span> from <a href="https://nrandecker.github.io">Makassar</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% include google-analytics.html %}
