<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img border="1" style="border-color: gray;" alt="Makassar Technopark" src="{{ "/assets/img/mtp.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Makassar Technopark </h5>
      <!-- <li> Featured Skills</li> -->
      <p>Makassar Technopark is an agency that have vision as Centre of excelent for aplication software development and service in Eastern Indonesia.</p>
      <a class="project-link" target="_blank" href="https://makassartechnopark.id">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img border="1" style="border-color: gray;" alt="Mamminasata Land" src="{{ "/assets/img/mls.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Mamminasata Land </h5>
      <!-- <ul>
        <li> Featured Skills</li>
      </ul> -->
      <p>Mamminasata Land Syariah is a Property company that is present to meet the needs of the ummat for property that is free from RIBA and problem contract.</p>
      <a class="project-link" target="_blank" href="https://mamminasataland.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img border="1" style="border-color: gray;" alt="SALAM Wakatobi" src="{{ "/assets/img/salamwakatobi.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> SALAM Wakatobi </h5>
      <!-- <li> Featured Skills</li> -->
      <p>SALAM Wakatobi is a Wakatobi Community Based Complaint Service Facility (Information Communication Technology) where the Community can make a Complaint to the Government in Real Time and the Government will conduct Feedback related to the complaint so that the Community can monitor the complaint.</p>
      <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=ps.salam.wakatobi">Check it out</a>
    </div>
  </div>
</div>

<center><a class="project-link" style="width: 200px;" href="/projects">See Other Projects</a></center>
